html {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
map {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
font {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
a img {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
hr {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 0.9rem; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a {
	
}
a:focus {
	
}
a.hidefocus {
	
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
img {
	
}
input[type=text] {
	-webkit-appearance: none;
}
input[type=button] {
	-webkit-appearance: none;
}
input[type=submit] {
	-webkit-appearance: none;
}
input {
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.clearfix::after {
	width: 0px; height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	zoom: 1;
}
.dis {
	display: none;
}
body {
	background: url("../images/bg.jpg") no-repeat 0% 0% / 100% rgb(0, 123, 92);
}